- targets:
{% for host in ansible_play_hosts %}
{% if hostvars[host].ci_prometheus_local_target is defined and hostvars[host].ci_prometheus_local_target  %}
    - {{ hostvars[host].ci_prometheus_local_target }}
{% endif %}
{% endfor %}
  labels:
    job: ci_exporter
    env: production
