{% if metrics_host_file_path is defined and metrics_host_file_path %}
server {
    listen {{ local_metrics_port }};
    server_name _;
    
    location /metrics {
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/.htpasswd;
        alias {{ metrics_host_file_path }};
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}
{% endif %}
{% if metrics_aggregate_file_path is defined and metrics_aggregate_file_path %}
server {
    listen {{ aggregated_metrics_port }};
    server_name _;
    
    location /metrics {
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/.htpasswd;
        alias {{ metrics_aggregate_file_path }};
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}
{% endif %}


